.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/01IntercoderReliablity_CodingSchemes.pdf scripts/01IntercoderReliablity.pdf
scripts/01IntercoderReliablity_CodingSchemes_files/figure-latex/
scripts/Correcting_Tweet_IDs_of_Classification_File.ipynb scripts/twitter-1-rehydration.ipynb scripts/twitter-2-cleaning-text-removing-duplicates.ipynb scripts/twitter-3-removing-classification-tweets-for-language-model-training.ipynb scripts/twitter-4-training-lm-fastai2_10_nlp.ipynb scripts/twitter-
scripts/*.log

suicide-tweets(200k).ipynb scripts/twitter-suicide-tweets(2million)_crossvalidation.ipynb scripts/twitter-suicide-tweets(2million).ipynb scripts/twitter-suicide-tweets.ipynb
figures/
tweets_text/
*.pdf
reports/
*.tex
*.sav
output/
models/
*.Rproj
scripts_Konstantin
scripts_Konstantin/
*tar.gz
results/cis*
scripts/*_cache/
tweet_training_set/1-1000tweets*
results/estimated_*
tweets_other_datasets/


#reliability datasets previous rounds and files with damaged IDs, empty files to fill in the labels
reliability_datasets/test_withPredictions_20201116_features.csv
reliability_datasets/round1_*.csv
reliability_datasets/round2_*.csv
reliability_datasets/round3_*.csv
reliability_datasets/*tweets_from_reserve_sample.tsv
reliability_datasets/check_for_awareness_tweets.tsv
reliability_datasets/thomas_missing_duplicates_tofill__tn.xlsx
reliability_datasets/reserve_samples_100k_from_suicide_tweets.tsv
reliability_datasets/round2b_500_suicide_tweets_no_agreement.csv
reliability_datasets/round3b_342_suicide_Hannah_6categories_correct_id.ods
reliability_datasets/round3b_342_suicide_Hannah_6categories_correct_id.tsv
reliability_datasets/round3b_342_suicide_Hannah_6categories_empty.csv
reliability_datasets/round4_150x5_suicide_Hannah_complete_IDscut.csv
reliability_datasets/round4_150x5_suicide_Thomas_complete_IDsrepaired.xlsx
reliability_datasets/round4_150x5_suicide_Thomas_original.csv
reliability_datasets/round4_150x5_suicide_human&model_BERT_finetuned.R

#reliability datasets with tweet text
reliability_datasets/round4_150x5_suicide_Hannah_complete_IDsrepaired.csv
reliability_datasets/round4_150x5_suicide_Thomas_complete_IDsrepaired.csv
reliability_datasets/round4_150x5_suicide_withpredictions_BERT_finetuned.csv
   
#output files produced by script, not needed by other scripts or for tables
results_not_on_git/

#training data set versions
tweet_training_set/1001-2000tweets_from_reserve_sample.tsv
tweet_training_set/Initial_training_posts_20200901_with_duplicates.xls
tweet_training_set/howI.csv
tweet_training_set/keywords_my_and_friend.csv
tweet_training_set/training_posts20200717.csv
tweet_training_set/training_posts20200813.csv
tweet_training_set/training_posts20200814_no_duplicatetext.csv
tweet_training_set/training_posts20200815_no_duplicatetext_correct_id.tsv
tweet_training_set/training_posts20201002.tsv
tweet_training_set/training_posts20201102_2185tweets.ods
tweet_training_set/training_posts20201102_2185tweets.tsv
tweet_training_set/training_posts20201105_3181tweets.tsv
tweet_training_set/training_posts20201124_multiple_labels.tsv
tweet_training_set/training_posts20201126_corrections_true_label_errors.tsv
tweet_training_set/training_posts20201130_main_categories.R
tweet_training_set/training_posts_initial558tweets_05162020.xlsx

#final datasets with tweet text
tweet_training_set/training_posts20201201_main_categories.csv
tweet_training_set/training_posts20201201_main_categories.tsv

#tweet volumes for predictions datasets based on tweets without RTs downloaded etc
data_tweet_volumes/Suicide_tweets_daily_volume_aboutsuicide.R
data_tweet_volumes/Suicide_tweets_daily_volume_aboutsuicide.csv
data_tweet_volumes/Suicide_tweets_daily_volume_aboutsuicide_withRTs.csv
data_tweet_volumes/Suicide_tweets_daily_volume_per_maincategory.R
data_tweet_volumes/Suicide_tweets_daily_volume_per_maincategory.csv
data_tweet_volumes/Suicide_tweets_daily_volume_per_maincategory_withRTs.csv
data_tweet_volumes/Volume_suicide_tweets_alltypes_allfollowers_20190101-20200416.csv
data_tweet_volumes/Volume_suicide_tweets_no_retweet_all_with_suicid*term_2013-01-01_2020-06-02.xls


#full tweet sets with text
full_tweet_set_for_predictions_withRTs_inquery/Tweets1.json.gz
full_tweet_set_for_predictions_withRTs_inquery/Tweets2.json.gz
full_tweet_set_for_predictions_withRTs_inquery/Tweets3.json.gz
full_tweet_set_for_predictions_withRTs_inquery/Tweets4.json.gz
full_tweet_set_for_predictions_withRTs_inquery/extract_tweets_from_json.sh
full_tweet_set_for_predictions_withRTs_inquery/suicide_tweets_with_RT.tsv
full_tweet_set_for_predictions_withRTs_inquery/suicide_tweets_with_RT_predictions.tsv
full_tweet_set_for_predictions_withRTs_inquery/tweet_text
full_tweet_set_for_predictions_withRTs_inquery/twitter_14M_with_predictions_withRTs.csv
full_tweet_set_for_predictions_withRTs_inquery/twitter_14M_with_predictions_withRTs.zip
full_tweet_set_for_predictions_withRTs_inquery/README
full_tweet_set_for_predictions_withRTs_inquery/isrt.csv
full_tweet_set_for_predictions_withRTs_inquery/lifeline
full_tweet_set_for_predictions_withRTs_inquery/rts.csv



